{% block title %}New Post{% endblock %}

{% block body %}

<div class="row">
  <h1 style="text-align: center">Create A New Post</h1>
  <form method="POST" action="{{ url_for('blog.new_post') }}">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.title.label }}<br>
      {% if form.title.errors %}
        {% for e in form.title.errors %}
          <p class="help-block">{{ e }}</p>
        {% endfor %}
      {% endif %}
      {{ form.title(class_='form-control') }}
    </div><br>
    <div class="form-gruop">
      {{ form.text.label }}
      {% if form.text.errors %}
        {% for e in form.text.errors %}
          <p class="help-block">{{ e }}</p>
        {% endfor %}
      {% endif %}
      {{ form.text(id="editor", class_='form-contril') }}
    </div><br>
    <input class="btn-primary" type="submit" value="Submit">
  </form>
</div>
{% endblock %}

{% block js %}
    {#模板 new_post 和 edit_post 中都加入了一个所见即所得 (WYSIWYG) 的博客文章
    编辑器 CKEditor, 该编辑器是一个 JavaScript 文件
    <script src="//cdn.ckeditor.com/4.4.7/standard/ckeditor.js"></script>,
    CKEditor 的安装和使用都是非常方便的#}.
<script src="//cdn.ckeditor.com/4.4.7/standard/ckeditor.js"></script>
<script>
    CKEDITOR.replace('editor');
</script>
{% endblock %}