{% extends "basic.html" %}

{% block title %}                                                          
  Register                                                                 
{% endblock %}                                                             

{% block captcha %}                                                        
  <script src='https://www.google.com/recaptcha/api.js'></script>          
{% endblock %}

{% block body %}                                                           
<div class="col-lg-3">
  <!-- Set the form -->                                                    
  <form method="POST" action="{{ url_for('account.register')
    }}">
    {{ form.hidden_tag() }}
    <div> 
      {{ form.username.label }}
        {% if form.username.errors %}
        {% for e in form.username.errors %}
          <p class="help-block" style="color: red">{{ e }}</p>
        {% endfor %}
      {% endif %}
      {{ form.username(class_="form-control") }}                           
    </div>
    <div class="form-group">                                               
      {{ form.password.label }}
        {% if form.password.errors %}
        {% for e in form.password.errors %}
          <p class="help-block" style="color: red">{{ e }}</p>
        {% endfor %}
      {% endif %}
      {{ form.password(class_='form-control') }}                           
    </div>
    <div class="form-group">
      {{ form.comfirm.label }}
        {% if form.comfirm.errors %}
        {% for e in form.comfirm.errors %}
          <p class="help-block" style="color: red">{{ e }}</p>
        {% endfor %}
      {% endif %}
      {{ form.comfirm(class_='form-control') }}                            
    </div>
    <input class="btn btn-primary" type="submit" value="Register">         
{#    <div class="g-recaptcha" data-sitekey="6LcWCmgUAAAAAJ65XRBGvV3hOEjgrOJMloq7c8HO"></div>#}
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span style="font-size: smaller;font-style: italic">
        <a href="{{ url_for('account.login') }}" style="color:purple;">已有账号？</a>
    </span>
  </form>
</div>
{% endblock %}           